---
layout: default
#title: About
permalink: /
---

<div class="center">
  <h1 class="title"><span class="accent">V</span>ertebrate <span class="accent">G</span>enomes <span class="accent">P</span>roject</h1>
</div>

{% if site.projects %}
  {% assign count = site.projects.size %}

  <div class="section">
  {% include title-bar.html title="Genomes" %}
  {% include see-all.html name="genomes" link="genomes" count=count %}

  {% assign sorted = site.projects | sort: 'name' %}

  {% for proj in sorted limit:site.data.settings.landing-projects %}
    {% include project.html proj=proj %}
  {% endfor %}

  </div>
{% endif %}
