---
layout: default
---

<div style="overflow-y: auto">
  <h1 class="page-name"><i>{{ page.name }}</i></h1>
  <h3 style="text-align: right; margin: 0 0 10px 0;">{{ page.common_name }}</h3>

  <br>

  <div class="species-info">
    <h3>Information</h3>

    <div>
    <ul class="link-list">
    {% if page.taxon_id %}
      <li><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ page.taxon_id }}">NCBI Taxonomy Browser</a></li>
    {% endif %}

<!--
    {% if page.genbank %}
      <li><a href="https://www.ncbi.nlm.nih.gov/assembly/{{ page.genbank }}/">genbank</a></li>
    {% else %}
      <li>genbank</li>
    {% endif %}
--->
    </ul>
    </div>
  </div>

  <div class="species-image">
    <div style="display: inline; margin: 0;">
      <div style="background-image:url({{ page.image }}); " class="portrait" src="">
      </div>
      <div class="portrait-caption">
      {% if page.image_license %}
      {{ page.image_license }}
      {% endif %}
      </div>
    </div>
  </div>
</div>




<h3>Raw Data</h3>
<div class="raw-data">

{% if page.last_raw_data %}

<table class="raw-data-table">
<thead>
<tr>
<th>Datatype</th>
<th>Approximate Coverage</th>
<th>Download Size</th>
</tr>
</thead>
<tbody>

{% if page.data_10x_bytes.size > 0 %}
<tr><td>10x</td><td>{{ page.data_10x_coverage }}</td><td>{{ page.data_10x_bytes }}</td></tr>
{% endif %}

{% if page.data_arima_bytes.size > 0 %}
<tr><td>Arima</td><td>{{ page.data_arima_coverage }}</td><td>{{ page.data_arima_bytes }}</td></tr>
{% endif %}

{% if page.data_bionano_bytes.size > 0 %}
<tr><td>Bionano</td><td>{{ page.data_bionano_coverage }}</td><td>{{ page.data_bionano_bytes }}</td></tr>
{% endif %}

{% if page.data_dovetail_bytes.size > 0 %}
<tr><td>Dovetail Genomics</td><td>{{ page.data_dovetail_coverage }}</td><td>{{ page.data_dovetail_bytes }}</td></tr>
{% endif %}

{% if page.data_illumina_bytes.size > 0 %}
<tr><td>Illumina</td><td>{{ page.data_illumina_coverage }}</td><td>{{ page.data_illumina_bytes }}</td></tr>
{% endif %}

{% if page.data_pbscraps_bytes.size > 0 %}
<tr><td>PacBio Scraps</td><td>{{ page.data_pbscraps_coverage }}</td><td>{{ page.data_pbscraps_bytes }}</td></tr>
{% endif %}

{% if page.data_pbsubreads_bytes.size > 0 %}
<tr><td>PacBio SubReads</td><td>{{ page.data_pbsubreads_coverage }}</td><td>{{ page.data_pbsubreads_bytes }}</td></tr>
{% endif %}

{% if page.data_phase_bytes.size > 0 %}
<tr><td>Phase Genomics</td><td>{{ page.data_phase_coverage }}</td><td>{{ page.data_phase_bytes }}</td></tr>
{% endif %}

</tbody>
</table>
<div align="right">
{% if page.genome_size_display %}
Coverage based on genome size {{ page.genome_size_display }}.
{% else %}
No genome size estimate available.
{% endif %}
</div>

<div align="right">
Last upload on {{ page.last_raw_data | date: "%-d %B %Y" }}.
</div>

<div>
Download each datatype using the <A HREF="https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-install.html">AWS Command Line Interface</A>:

<div class="download-links">
{% if page.data_10x_links %}
{{ page.data_10x_links }}
{% endif %}

{% if page.data_arima_links %}
{{ page.data_arima_links }}
{% endif %}

{% if page.data_bionano_links %}
{{ page.data_bionano_links }}
{% endif %}

{% if page.data_dovetail_links %}
{{ page.data_dovetail_links }}
{% endif %}

{% if page.data_illumina_links %}
{{ page.data_illumina_links }}
{% endif %}

{% if page.data_pbscraps_links %}
{{ page.data_pbscraps_links }}
{% endif %}

{% if page.data_pbsubreads_links %}
{{ page.data_pbsubreads_links }}
{% endif %}

{% if page.data_phase_links %}
{{ page.data_phase_links }}
{% endif %}
</div>

</div>

{% else %}

<em style="color:red">No data.</em><br/>

{% endif %}
</div>



{% if page.notes %}
<h3>Notes</h3>
<div class="notes">
<em style="color:red">{{ page.notes }}</em><br/>
</div>
{% endif %}

<!---
{% unless page.pri1seq or page.pri2seq or page.pri3seq or page.pri4seq %}
<div class="notes">
<em style="color:red">No assemblies.</em><br/>
</div>
{% endunless %}
--->

<!-- ONE --->

{% if page.pri1seq %}
<h3>Individual 1 Assemblies</h3>
<div class="assembly">

<!---
{% if page.mito1seq %}
<div class="mito-sequence">
  <h4>Mitochondria</h4>
  <div class="sequence-file">
  Version <em>{{ page.mito1version }}</em> from {{ page.mito1date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.mito1seq }}">{{ page.mito1seq | split: "/" | last }}</a> ({{ page.mito1filesize }})
  </div>
</div>
{% endif %}
--->

<div class="primary-sequence">
<!--  <h4>Individual 1 Primary</h4> --->
  <div class="sequence-file">
  <b>Primary</b><br>
  Version <em>{{ page.pri1version }}</em> from {{ page.pri1date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.pri1seq }}">{{ page.pri1seq | split: "/" | last }}</a> ({{ page.pri1filesize }})<br>
  </div>
  <br>
  <div class="sequence-sizes">
  {% if page.pri1sizes %}
  {{ page.pri1sizes }}
  {% else %}
  size statistics missing
  {% endif %}
  </div>
</div>

<div class="alternate-sequence">
<!--  <h4>Individual 1 Alternate</h4> --->
  <div class="sequence-file">
  <b>Alternate</b><br>
  {% if page.alt1seq %}
  Version <em>{{ page.alt1version }}</em> from {{ page.alt1date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.alt1seq }}">{{ page.alt1seq | split: "/" | last }}</a> ({{ page.alt1filesize }})
  {% else %}
  None
  {% endif %}
  </div>
  <br>
  <div class="sequence-sizes">
  {% if page.alt1sizes %}
  {{ page.alt1sizes }}
  {% else %}
  size statistics missing
  {% endif %}
  </div>
</div>
<div align="right">
{% if page.genome_size_display %}
NG based on genome size {{ page.genome_size_display }}.
{% else %}
No genome size estimate available.
{% endif %}
</div>

{% if page.mito1seq %}
<div class="mito-sequence">
  <div class="sequence-file">
  <b>Mitochondrial</b><br>
  Version <em>{{ page.mito1version }}</em> from {{ page.mito1date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.mito1seq }}">{{ page.mito1seq | split: "/" | last }}</a> ({{ page.mito1filesize }})
  </div>
</div>
{% endif %}

</div>
{% endif %}

<!-- TWO --->

{% if page.pri2seq %}
<h3>Individual 2 Assemblies</h3>
<div class="assembly">

<!--
{% if page.mito2seq %}
<div class="mito-sequence">
  <h4>Mitochondria</h4>
  <div class="sequence-file">
  Version <em>{{ page.mito2version }}</em> from {{ page.mito2date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.mito2seq }}">{{ page.mito2seq | split: "/" | last }}</a> ({{ page.mito2filesize }})
  </div>
</div>
{% endif %}
--->

<div class="primary-sequence">
  <div class="sequence-file">
  <b>Primary</b><br>
  Version <em>{{ page.pri1version }}</em> from {{ page.pri2date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.pri2seq }}">{{ page.pri2seq | split: "/" | last }}</a> ({{ page.pri2filesize }})
  </div>
  <br>
  <div class="sequence-sizes">
  {% if page.pri2sizes %}
  {{ page.pri2sizes }}
  {% else %}
  size statistics missing
  {% endif %}
  </div>
</div>

<div class="alternate-sequence">
  <div class="sequence-file">
  <b>Alternate</b><br>
  {% if page.alt2seq %}
  Version <em>{{ page.alt2version }}</em> from {{ page.alt2date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.alt2seq }}">{{ page.alt2seq | split: "/" | last }}</a> ({{ page.alt2filesize }})
  {% else %}
  None
  {% endif %}
  </div>
  <br>
  <div class="sequence-sizes">
  {% if page.alt2sizes %}
  {{ page.alt2sizes }}
  {% else %}
  size statistics missing
  {% endif %}
  </div>
</div>
<div align="right">
{% if page.genome_size_display %}
NG based on genome size {{ page.genome_size_display }}.
{% else %}
No genome size estimate available.
{% endif %}
</div>

{% if page.mito2seq %}
<div class="mito-sequence">
  <div class="sequence-file">
  <b>Mitochondrial</b><br>
  Version <em>{{ page.mito2version }}</em> from {{ page.mito2date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.mito2seq }}">{{ page.mito2seq | split: "/" | last }}</a> ({{ page.mito2filesize }})
  </div>
</div>
{% endif %}

</div>
{% endif %}

<!-- THREE --->

{% if page.pri3seq %}
<h3>Individual 3 Assemblies</h3>
<div class="assembly">

{% if page.mito3seq %}
<div class="mito-sequence">
  <h4>Mitochondria</h4>
  <div class="sequence-file">
  Version <em>{{ page.mito3version }}</em> from {{ page.mito3date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.mito3seq }}">{{ page.mito3seq | split: "/" | last }}</a> ({{ page.mito3filesize }})
  </div>
</div>
{% endif %}

<div class="primary-sequence">
  <h4>Primary</h4>
  <div class="sequence-file">
  Version <em>{{ page.pri1version }}</em> from {{ page.pri3date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.pri3seq }}">{{ page.pri3seq | split: "/" | last }}</a> ({{ page.pri3filesize }})
  </div>
  <br>
  <div class="sequence-sizes">
  {% if page.pri3sizes %}
  {{ page.pri3sizes }}
  {% else %}
  size statistics missing
  {% endif %}
  </div>
</div>

<div class="alternate-sequence">
  <h4>Alternate</h4>
  <div class="sequence-file">
  {% if page.alt3seq %}
  Version <em>{{ page.alt3version }}</em> from {{ page.alt3date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.alt3seq }}">{{ page.alt3seq | split: "/" | last }}</a> ({{ page.alt3filesize }})
  {% else %}
  None
  {% endif %}
  </div>
  <br>
  <div class="sequence-sizes">
  {% if page.alt3sizes %}
  {{ page.alt3sizes }}
  {% else %}
  size statistics missing
  {% endif %}
  </div>
</div>
<div align="right">
{% if page.genome_size_display %}
NG based on genome size {{ page.genome_size_display }}.
{% else %}
No genome size estimate available.
{% endif %}
</div>
</div>
{% endif %}

<!-- FOUR --->

{% if page.pri4seq %}
<h3>Individual 4 Assemblies</h3>
<div class="assembly">

{% if page.mito4seq %}
<div class="mito-sequence">
  <h4>Mitochondria</h4>
  <div class="sequence-file">
  Version <em>{{ page.mito4version }}</em> from {{ page.mito4date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.mito4seq }}">{{ page.mito4seq | split: "/" | last }}</a> ({{ page.mito4filesize }})
  </div>
</div>
{% endif %}

<div class="primary-sequence">
  <h4>Primary</h4>
  <div class="sequence-file">
  Version <em>{{ page.pri1version }}</em> from {{ page.pri4date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.pri4seq }}">{{ page.pri4seq | split: "/" | last }}</a> ({{ page.pri4filesize }})
  </div>
  <br>
  <div class="sequence-sizes">
  {% if page.pri4sizes %}
  {{ page.pri4sizes }}
  {% else %}
  size statistics missing
  {% endif %}
  </div>
</div>

<div class="alternate-sequence">
  <h4>Alternate</h4>
  <div class="sequence-file">
  {% if page.alt4seq %}
  Version <em>{{ page.alt4version }}</em> from {{ page.alt4date | date: "%-d %B %Y" }}<br>
  <a href="{{ page.alt4seq }}">{{ page.alt4seq | split: "/" | last }}</a> ({{ page.alt4filesize }})
  {% else %}
  None
  {% endif %}
  </div>
  <br>
  <div class="sequence-sizes">
  {% if page.alt4sizes %}
  {{ page.alt4sizes }}
  {% else %}
  size statistics missing
  {% endif %}
  </div>
</div>
<div align="right">
{% if page.genome_size_display %}
NG based on genome size {{ page.genome_size_display }}.
{% else %}
No genome size estimate available.
{% endif %}
</div>
</div>
{% endif %}

<!-- DATA USE POLICY --->

<h3>Data Use Policy</h3>
<div class="data-use">
VGP samples and data come from a variety of sources. To support fair and productive use of this data,
please abide by the <a href="https://genome10k.soe.ucsc.edu/data-use-policies/"><em>Data Use Policy</em></a>
and contact us with any questions.
</div>
