---
layout: default
---

<div style="overflow-y: auto">
  <h1 class="page-name"><i>{{ page.name }}</i></h1>
  <h3 style="text-align: right; margin: 0 0 10px 0;">{{ page.common_name }}</h3>

  <br>

  <div class="species-info">
    <h3>Information</h3>

    <div>
    <ul class="link-list">
    {% if page.taxon_id %}
      <li><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ page.taxon_id }}">NCBI Taxonomy Browser</a></li>
    {% endif %}

<!--
    {% if page.genbank %}
      <li><a href="https://www.ncbi.nlm.nih.gov/assembly/{{ page.genbank }}/">genbank</a></li>
    {% else %}
      <li>genbank</li>
    {% endif %}
--->
    </ul>
    </div>
  </div>

  <div class="species-image">
    <div style="display: inline; margin: 0;">
      <div style="background-image:url({{ page.image }}); " class="portrait" src="">
      </div>
      <div class="portrait-caption">
      {% if page.image_license %}
      {{ page.image_license }}
      {% endif %}
      </div>
    </div>
  </div>
</div>




<h3>Raw Data</h3>
<div class="raw-data">

{% if page.last_raw_data %}

<table class="raw-data-table">
<thead>
<tr>
<th>Datatype</th>
<th>Approximate Coverage</th>
<th>Download Size</th>
</tr>
</thead>
<tbody>

{% if page.data_10x_bytes.size > 0 %}
<tr><td>10x</td><td>{{ page.data_10x_coverage }}</td><td>{{ page.data_10x_bytes }}</td></tr>
{% endif %}

{% if page.data_arima_bytes.size > 0 %}
<tr><td>Arima</td><td>{{ page.data_arima_coverage }}</td><td>{{ page.data_arima_bytes }}</td></tr>
{% endif %}

{% if page.data_bionano_bytes.size > 0 %}
<tr><td>Bionano</td><td>{{ page.data_bionano_coverage }}</td><td>{{ page.data_bionano_bytes }}</td></tr>
{% endif %}

{% if page.data_dovetail_bytes.size > 0 %}
<tr><td>Dovetail Genomics</td><td>{{ page.data_dovetail_coverage }}</td><td>{{ page.data_dovetail_bytes }}</td></tr>
{% endif %}

{% if page.data_illumina_bytes.size > 0 %}
<tr><td>Illumina</td><td>{{ page.data_illumina_coverage }}</td><td>{{ page.data_illumina_bytes }}</td></tr>
{% endif %}

{% if page.data_pbscraps_bytes.size > 0 %}
<tr><td>PacBio Scraps</td><td>{{ page.data_pbscraps_coverage }}</td><td>{{ page.data_pbscraps_bytes }}</td></tr>
{% endif %}

{% if page.data_pbsubreads_bytes.size > 0 %}
<tr><td>PacBio SubReads</td><td>{{ page.data_pbsubreads_coverage }}</td><td>{{ page.data_pbsubreads_bytes }}</td></tr>
{% endif %}

{% if page.data_pbhifi_bytes.size > 0 %}
<tr><td>PacBio HiFi</td><td>{{ page.data_pbhifi_coverage }}</td><td>{{ page.data_pbhifi_bytes }}</td></tr>
{% endif %}

{% if page.data_phase_bytes.size > 0 %}
<tr><td>Phase Genomics</td><td>{{ page.data_phase_coverage }}</td><td>{{ page.data_phase_bytes }}</td></tr>
{% endif %}

</tbody>
</table>
<div align="right">
{% if page.genome_size_display %}
Coverage based on genome size {{ page.genome_size_display }}.
{% else %}
No genome size estimate available.
{% endif %}
</div>

<div align="right">
Last upload on {{ page.last_raw_data | date: "%-d %B %Y" }}.
</div>

<div>
Download each datatype using the <A HREF="https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-install.html">AWS Command Line Interface</A>:

<div class="download-links">
{% if page.data_10x_links %}
{{ page.data_10x_links }}
{% endif %}

{% if page.data_arima_links %}
{{ page.data_arima_links }}
{% endif %}

{% if page.data_bionano_links %}
{{ page.data_bionano_links }}
{% endif %}

{% if page.data_dovetail_links %}
{{ page.data_dovetail_links }}
{% endif %}

{% if page.data_illumina_links %}
{{ page.data_illumina_links }}
{% endif %}

{% if page.data_pbscraps_links %}
{{ page.data_pbscraps_links }}
{% endif %}

{% if page.data_pbsubreads_links %}
{{ page.data_pbsubreads_links }}
{% endif %}

{% if page.data_pbhifi_links %}
{{ page.data_pbhifi_links }}
{% endif %}

{% if page.data_phase_links %}
{{ page.data_phase_links }}
{% endif %}
</div>

</div>

{% else %}

<em style="color:red">No data.</em><br/>

{% endif %}
</div>

<!-- NOTES --->

{% if page.notes %}
<h3>Notes</h3>
<div class="notes">
<em style="color:red">{{ page.notes }}</em><br/>
</div>
{% endif %}

<!-- ASSEMBLIES --->

<h3>Assemblies</h3>

{% include genomeark_asm_stats.html
     individual=1
     llabel="Primary"   lseq=page.pri1seq  lversion=page.pri1version  ldate=page.pri1date  lfilesize=page.pri1filesize  lsizes=page.pri1sizes
     rlabel="Alternate" rseq=page.alt1seq  rversion=page.alt1version  rdate=page.alt1date  rfilesize=page.alt1filesize  rsizes=page.alt1sizes
                        mseq=page.mito1seq mversion=page.mito1version mdate=page.mito1date mfilesize=page.mito1filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=1
     llabel="Maternal"  lseq=page.mat1seq  lversion=page.mat1version  ldate=page.mat1date  lfilesize=page.mat1filesize  lsizes=page.mat1sizes
     rlabel="Paternal"  rseq=page.pat1seq  rversion=page.pat1version  rdate=page.pat1date  rfilesize=page.pat1filesize  rsizes=page.pat1sizes
     genome_size_display=page.genome_size_display
%}


{% include genomeark_asm_stats.html
     individual=2
     llabel="Primary"   lseq=page.pri2seq  lversion=page.pri2version  ldate=page.pri2date  lfilesize=page.pri2filesize  lsizes=page.pri2sizes
     rlabel="Alternate" rseq=page.alt2seq  rversion=page.alt2version  rdate=page.alt2date  rfilesize=page.alt2filesize  rsizes=page.alt2sizes
                        mseq=page.mito2seq mversion=page.mito2version mdate=page.mito2date mfilesize=page.mito2filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=2
     llabel="Maternal"  lseq=page.mat2seq  lversion=page.mat2version  ldate=page.mat2date  lfilesize=page.mat2filesize  lsizes=page.mat2sizes
     rlabel="Paternal"  rseq=page.pat2seq  rversion=page.pat2version  rdate=page.pat2date  rfilesize=page.pat2filesize  rsizes=page.pat2sizes
     genome_size_display=page.genome_size_display
%}


{% include genomeark_asm_stats.html
     individual=3
     llabel="Primary"   lseq=page.pri3seq  lversion=page.pri3version  ldate=page.pri3date  lfilesize=page.pri3filesize  lsizes=page.pri3sizes
     rlabel="Alternate" rseq=page.alt3seq  rversion=page.alt3version  rdate=page.alt3date  rfilesize=page.alt3filesize  rsizes=page.alt3sizes
                        mseq=page.mito3seq mversion=page.mito3version mdate=page.mito3date mfilesize=page.mito3filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=3
     llabel="Maternal"  lseq=page.mat3seq  lversion=page.mat3version  ldate=page.mat3date  lfilesize=page.mat3filesize  lsizes=page.mat3sizes
     rlabel="Paternal"  rseq=page.pat3seq  rversion=page.pat3version  rdate=page.pat3date  rfilesize=page.pat3filesize  rsizes=page.pat3sizes
     genome_size_display=page.genome_size_display
%}


{% include genomeark_asm_stats.html
     individual=4
     llabel="Primary"   lseq=page.pri4seq  lversion=page.pri4version  ldate=page.pri4date  lfilesize=page.pri4filesize  lsizes=page.pri4sizes
     rlabel="Alternate" rseq=page.alt4seq  rversion=page.alt4version  rdate=page.alt4date  rfilesize=page.alt4filesize  rsizes=page.alt4sizes
                        mseq=page.mito4seq mversion=page.mito4version mdate=page.mito4date mfilesize=page.mito4filesize
     genome_size_display=page.genome_size_display
%}

{% include genomeark_asm_stats.html
     individual=4
     llabel="Maternal"  lseq=page.mat4seq  lversion=page.mat4version  ldate=page.mat4date  lfilesize=page.mat4filesize  lsizes=page.mat4sizes
     rlabel="Paternal"  rseq=page.pat4seq  rversion=page.pat4version  rdate=page.pat4date  rfilesize=page.pat4filesize  rsizes=page.pat4sizes
     genome_size_display=page.genome_size_display
%}


<!-- DATA USE POLICY --->

<h3>Data Use Policy</h3>
<div class="data-use">
VGP samples and data come from a variety of sources. To support fair and productive use of this data,
please abide by the <a href="https://genome10k.soe.ucsc.edu/data-use-policies/"><em>Data Use Policy</em></a>
and contact us with any questions.
</div>
