---
layout: default
---

<h1 class="page-name"><i>{{ page.name }}</i></h1>
<h3 style="text-align: right; margin: 0 0 10px 0;">{{ page.common_name }}</h3>

<div style="display: inline; margin: 0;">
	<div style="background-image:url({{ page.image }}); " class="portrait" src=""></div>
</div>


<div style="text-align: center; margin-top: 15px;">

<ul class="link-list">

  {% if page.assembly %}
  <li><a href="{{ page.assembly }}">assembly</a></li>
  {% endif %}

  {% if page.geval %}
  <li><a href="{{ page.geval }}">geval</a></li>
  {% endif %}

</ul>

</div>

<p>
  {{ page.description }}
</p>
